doctype html
html
  head
    title #{title}
    link(rel="stylesheet", href="/css/style.css")

  body
    h1 #{title}
    h2 List of cars present in hubspot account
    br
    a(href="http://localhost:3000/update-cobj") Add to this table
    br
    table
      thead
        tr
          th Car Name
          th Car Color
          th Car Company

      tbody
        each item in data
          tr
            td= item.properties.car_name
            td= item.properties.car_color
            td= item.properties.car_company